@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="~/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="~/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="~/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="~/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="~/Scripts/jasmine/boot.js"></script>

    <!-- include source files here... -->
    <script type="text/javascript" src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>"
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>"
    <script type="text/javascript" src="~/Scripts/utilities/utilities.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewModels/DirectoryChampViewModel.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="~/Scripts/tests/directory-spec.js"></script>
</head>

<body>
</body>
</html>
